@import url('./__close/popup__close.css');
@import url('./__container/popup__container.css');
@import url('./__title/popup__title.css');
@import url('./__text/popup__text.css');
@import url('./__text/_name/popup__text_name.css');
@import url('./__text/_occupation/popup__text_occupation.css');
@import url('./__container/popup__container.css');
@import url('./__button/popup__button.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}